@model E.CommerceProject.Models.Admin

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MLayout.cshtml";
}

    <style>
        form {
          margin-top: 60px
        }
    </style>


<div class="container">
    <h2>Tạo mới tài khoản Admin</h2>
    <form asp-controller="Admin" asp-action="Create" enctype="multipart/form-data">
        <div class="table-title" style="margin-top:20px">
            <div class="row">
                <div class="col-sm-6">
                    <h2 style="color:black">Admin</h2>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index"><b>Quay lại</b><i class='fas'>&#xf3e5;</i></a>
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> <b>Lưu lại</b> </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" asp-for="Id" hidden>
            <input type="number" class="form-control" asp-for="AdminId" hidden>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3 mt-3">
                <label for="" class="form-label"><b>Tên tài khoản</b></label>
                <input type="text" class="form-control" asp-for="AdminAccount" placeholder="Nhập vào tên tài khoản">
                <span asp-validation-for="AdminAccount" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3 mt-3 password-container">
                <label class="form-label"><b>Mật khẩu </b></label>
                <input type="password" class="form-control" id="AdminPassword" asp-for="AdminPassword" placeholder="Nhập mật khẩu" />
                <span class="toggle-password" onclick="togglePassword()">
                    <i class="fa fa-eye"></i>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3 mt-3">
                <label for="" class="form-label"><b>Họ và tên</b></label>
                <input type="text" class="form-control" asp-for="FullName" placeholder="Nhập vào họ và tên">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3 mt-3">
                <label for="" class="form-label">Email</label>
                <input type="text" class="form-control" asp-for="Email" placeholder="Nhập vào địa chỉ Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 mt-3">
            <label for="" class="form-label"><b>Ảnh đại diện</b></label>
            <input type="file" class="form-control" asp-for="Avatar" placeholder="Nhập vào ảnh đại diện">
            <span asp-validation-for="Avatar" class="text-danger"></span>
        </div>



       <div class="row">
            <div class="col-md-6 mb-3 mt-3">
                <label for="" class="form-label"> <b>Số điện thoại</b></label>
                <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="Nhập vào số điện thoại">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mb-3 mt-3">
                <label asp-for="RoleId">Vai trò</label>
                <select asp-for="RoleId" class="form-control">
                    @foreach (var role in ViewBag.RoleList)
                    {
                        <option value="@role.Id">
                            @role.RoleName
                        </option>
                    }
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
       </div>

       <div class="row">
            <div class="col-md-6 mb-3 mt-3">
                <label for="" class="form-label"><b>Ảnh CCCD mặt trước</b></label>
                <input type="file" class="form-control" asp-for="IdCardFront" placeholder="Nhập vào ảnh CCCD mặt trước">
                <span asp-validation-for="IdCardFront" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3 mt-3">
                <label for="" class="form-label"><b>Ảnh CCCD mặt sau</b></label>
                <input type="file" class="form-control" asp-for="IdCardBack" placeholder="Nhập vào ảnh CCCD mặt sau">
                <span asp-validation-for="IdCardBack" class="text-danger"></span>
            </div>
       </div>

       <div class="row">
            <div class="col-md-6 mb-3 mt-3">
                <label asp-for="PlaceOfIssue" class="form-label"><strong>Nơi cấp</strong></label>
                <select asp-for="PlaceOfIssue" class="form-control" asp-items="ViewBag.IssuePlaces">
                </select>
                <span asp-validation-for="PlaceOfIssue" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3 mt-3">
                <label for="" class="form-label"><strong>Ngày cấp</strong></label>
                <input type="date" class="form-control" asp-for="DateOfIssue" placeholder="Enter DateOfIssue">
                <span asp-validation-for="DateOfIssue" class="text-danger"></span>
            </div>
       </div>

     

        <!-- Nút gửi -->
        <div class="table-title" style="margin-top:20px">
            <div class="row">
                <div class="col-sm-6">
                    <h2 style="color:black"></h2>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index"> <b>Quay lại</b> <i class='fas'>&#xf3e5;</i></a>
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> <b>Lưu lại</b> </button>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        function togglePassword() {
            const passwordField = document.getElementById('AdminPassword');
            const icon = document.querySelector('.toggle-password i');

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                passwordField.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        }
    </script>
}


