<form asp-controller="User" asp-action="Logout" method="post" style="margin: 0;">
    <button type="submit" class="btn btn-danger btn-block">
        <i class="fa fa-sign-out"></i> Đăng xuất User
    </button>
</form>
