@model E.CommerceProject.Models.Contact

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_MLayout.cshtml";
}

<style>
    form {
        margin-left: 60px;
        margin-top: 100px;
    }
</style>


<div class="container">
    <h2>Chỉnh sửa</h2>
    <div class="card">
        <form asp-controller="Contact" asp-action="Edit" enctype="multipart/form-data">
            <div class="table-title" style="margin-top:20px">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 style="color:black"></h2>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-primary" asp-controller="Contact" asp-action="Index"><b>Quay lại</b><i class='fas'>&#xf3e5;</i></a>
                        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> <b>Lưu lại</b> </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" asp-for="Id" hidden>
            </div>

            <div class="mb-3 mt-3">
                <label for="" class="form-label"><b>Họ và tên</b></label>
                <input type="text" class="form-control" asp-for="FullName" placeholder="Nhập vào họ và tên">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="mb-3 mt-3">
                <label for="" class="form-label"><b>Số điện thoại</b></label>
                <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="Nhập vào số điện thoại">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mb-3 mt-3">
                <label for="" class="form-label"><b>Địa chỉ</b></label>
                <input type="text" class="form-control" asp-for="Address" placeholder="Nhập vào địa chỉ">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="mb-3 mt-3">
                <label for="" class="form-label"><b>Email</b></label>
                <input type="text" class="form-control" asp-for="Email" placeholder="Nhập vào email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3 mt-3">
                <label for="" class="form-label"><b>Tin nhắn</b></label>
                <textarea type="text" class="form-control" asp-for="Message" placeholder="Nhập vào tin nhắn"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>


            <!-- Nút gửi -->
            <div class="table-title" style="margin-top:20px">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 style="color:black"></h2>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-primary" asp-controller="Contact" asp-action="Index"> <b>Quay lại</b> <i class='fas'>&#xf3e5;</i></a>
                        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> <b>Lưu lại</b> </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



